{% extends 'base.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}

<div class="mt-3 rounded-3 bg-body-tertiary p-4">
    <h3>Каталог</h3>
    <!-- Виведення кількості категорій -->
    <p>Кількість категорій: {{ categories|length }}</p>
    {% if object_list %}
    <div class='row mt-4'>
        {% for product in object_list %}
        <div class='col-4'>
            <div class='card'>
                {% if product.image %}
                <img src='{{ product.image.url }}' class='card-img-top' alt='{{ product.name }}'>
                {% else %}
                <img src='https://via.placeholder.com/300x200' class='card-img-top' alt='{{ product.name }}'>
                {% endif %}
                <div class='card-body'>
                    <h5 class='card-title'>{{ product.name }}</h5>
                </div>
                <div class='card-footer'>
                    <a href='{{ product.get_absolute_url }}' class='btn btn-primary'>Більше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Товари відсутні</p>
    {% endif %}
</div>
{% endblock %}
